Client/Client/Client/Service References/Server/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server.Data" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByName" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertUserIntoDb_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserIntoDb" />
  </wsdl:message>
  <wsdl:message name="IService_InsertUserIntoDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserIntoDbResponse" />
  </wsdl:message>
  <wsdl:message name="IService_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IService_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAppointmentsByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentsByUserId" />
  </wsdl:message>
  <wsdl:message name="IService_GetAppointmentsByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentsByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertUserAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserAppointment" />
  </wsdl:message>
  <wsdl:message name="IService_InsertUserAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetClassByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClassByUserId" />
  </wsdl:message>
  <wsdl:message name="IService_GetClassByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetClassScheduleById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClassScheduleById" />
  </wsdl:message>
  <wsdl:message name="IService_GetClassScheduleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassScheduleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllClasses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClasses" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllClasses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClassesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllProfessions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProfessions" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllProfessions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProfessionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetChatMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChatMessages" />
  </wsdl:message>
  <wsdl:message name="IService_GetChatMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChatMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WriteToChat_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteToChat" />
  </wsdl:message>
  <wsdl:message name="IService_WriteToChat_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteToChatResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAverageGradeByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAverageGradeByUserId" />
  </wsdl:message>
  <wsdl:message name="IService_GetAverageGradeByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAverageGradeByUserIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserById" message="tns:IService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserByIdResponse" message="tns:IService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserByName" message="tns:IService_GetUserByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserByNameResponse" message="tns:IService_GetUserByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUserIntoDb">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertUserIntoDb" message="tns:IService_InsertUserIntoDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertUserIntoDbResponse" message="tns:IService_InsertUserIntoDb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/LoginUser" message="tns:IService_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoginUserResponse" message="tns:IService_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentsByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAppointmentsByUserId" message="tns:IService_GetAppointmentsByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAppointmentsByUserIdResponse" message="tns:IService_GetAppointmentsByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUserAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertUserAppointment" message="tns:IService_InsertUserAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertUserAppointmentResponse" message="tns:IService_InsertUserAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClassByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetClassByUserId" message="tns:IService_GetClassByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetClassByUserIdResponse" message="tns:IService_GetClassByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClassScheduleById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetClassScheduleById" message="tns:IService_GetClassScheduleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetClassScheduleByIdResponse" message="tns:IService_GetClassScheduleById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllClasses">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllClasses" message="tns:IService_GetAllClasses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllClassesResponse" message="tns:IService_GetAllClasses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProfessions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllProfessions" message="tns:IService_GetAllProfessions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllProfessionsResponse" message="tns:IService_GetAllProfessions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllUsers" message="tns:IService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllUsersResponse" message="tns:IService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChatMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetChatMessages" message="tns:IService_GetChatMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetChatMessagesResponse" message="tns:IService_GetChatMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteToChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WriteToChat" message="tns:IService_WriteToChat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WriteToChatResponse" message="tns:IService_WriteToChat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAverageGradeByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAverageGradeByUserId" message="tns:IService_GetAverageGradeByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAverageGradeByUserIdResponse" message="tns:IService_GetAverageGradeByUserId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <soap:operation soapAction="http://tempuri.org/IService/GetUserByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserIntoDb">
      <soap:operation soapAction="http://tempuri.org/IService/InsertUserIntoDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/IService/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentsByUserId">
      <soap:operation soapAction="http://tempuri.org/IService/GetAppointmentsByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserAppointment">
      <soap:operation soapAction="http://tempuri.org/IService/InsertUserAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassByUserId">
      <soap:operation soapAction="http://tempuri.org/IService/GetClassByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassScheduleById">
      <soap:operation soapAction="http://tempuri.org/IService/GetClassScheduleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllClasses">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllClasses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProfessions">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllProfessions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChatMessages">
      <soap:operation soapAction="http://tempuri.org/IService/GetChatMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteToChat">
      <soap:operation soapAction="http://tempuri.org/IService/WriteToChat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAverageGradeByUserId">
      <soap:operation soapAction="http://tempuri.org/IService/GetAverageGradeByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>