Client/Client/Client/Service References/Server/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server.Data" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertUserIntoDb_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserIntoDb" />
  </wsdl:message>
  <wsdl:message name="IService_InsertUserIntoDb_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserIntoDbResponse" />
  </wsdl:message>
  <wsdl:message name="IService_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IService_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserScheduleByUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserScheduleByUserId" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserScheduleByUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserScheduleByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertNewUserAppointment_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewUserAppointment" />
  </wsdl:message>
  <wsdl:message name="IService_InsertNewUserAppointment_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewUserAppointmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetClass_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClass" />
  </wsdl:message>
  <wsdl:message name="IService_GetClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetClassScheduleById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClassScheduleById" />
  </wsdl:message>
  <wsdl:message name="IService_GetClassScheduleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassScheduleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllClasses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClasses" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllClasses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClassesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserById" message="tns:IService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserByIdResponse" message="tns:IService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUserIntoDb">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertUserIntoDb" message="tns:IService_InsertUserIntoDb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertUserIntoDbResponse" message="tns:IService_InsertUserIntoDb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/LoginUser" message="tns:IService_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoginUserResponse" message="tns:IService_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserScheduleByUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserScheduleByUserId" message="tns:IService_GetUserScheduleByUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserScheduleByUserIdResponse" message="tns:IService_GetUserScheduleByUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewUserAppointment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertNewUserAppointment" message="tns:IService_InsertNewUserAppointment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertNewUserAppointmentResponse" message="tns:IService_InsertNewUserAppointment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetClass" message="tns:IService_GetClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetClassResponse" message="tns:IService_GetClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClassScheduleById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetClassScheduleById" message="tns:IService_GetClassScheduleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetClassScheduleByIdResponse" message="tns:IService_GetClassScheduleById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllClasses">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllClasses" message="tns:IService_GetAllClasses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllClassesResponse" message="tns:IService_GetAllClasses_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserIntoDb">
      <soap:operation soapAction="http://tempuri.org/IService/InsertUserIntoDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/IService/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserScheduleByUserId">
      <soap:operation soapAction="http://tempuri.org/IService/GetUserScheduleByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewUserAppointment">
      <soap:operation soapAction="http://tempuri.org/IService/InsertNewUserAppointment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClass">
      <soap:operation soapAction="http://tempuri.org/IService/GetClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassScheduleById">
      <soap:operation soapAction="http://tempuri.org/IService/GetClassScheduleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllClasses">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllClasses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8733/Service/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>